# For local development
db_user_local=postgres
db_password_local=your_password
db_host_local=127.0.0.1
db_port_local=5432
db_name_local=postgres

# For cloud deployment
db_user_cloud=your_cloud_user
db_password_cloud=your_cloud_password
db_host_cloud=your_host.supabase.com
db_port_cloud=5432
db_name_cloud=postgres
